.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 22px;
    text-align: center;
}

.notification span {
    padding: 10px 15px;
}